.advertise {
    padding-top: 20px;

    .advertiseContent {
        text-align: justify;
        font-family: 'Alice', serif;
        font-weight: 600;
        letter-spacing: 0.8px;
        word-spacing: 2.5px;
        font-size: 1.1rem;

        .sectionTitle {
            text-align: left;
            font-size: 2.5rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        table {
            font-size: 1rem;
            letter-spacing: 0.8px;

            th,
            td {
                text-wrap: nowrap;
                text-transform: uppercase;
                color: var(--black-color);
            }

            .price {
                color: var(--primary-color);
            }
        }

        .whyUs {
            .detailCardContent {
                display: flex;
                justify-content: space-evenly;
                gap: 20px;
                align-items: center;
                margin-top: 30px;
                flex-wrap: wrap;

                .detailCard {
                    background: #002e33;
                    background: linear-gradient(45deg, #002e33 0%, var(--primary-dark) 50%, var(--primary-color) 100%);
                    border-radius: 8px;
                    padding: 20px;
                    border: none;
                    width: 100%;
                    max-width: 380px;
                    box-sizing: border-box;
                    text-align: center;

                    .detailCardIcon {
                        svg {
                            color: var(--white-color);
                            font-size: 3rem;
                            border: 8px;
                        }
                    }

                    .detailCardBody {
                        color: var(--white-color);
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .notes {
            display: block;
            text-align: end;
            color: #d93e3e;
            font-style: italic;
        }

        .clientContent {
            .contentTitle {
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: var(--primary-dark);
                text-align: center;
            }

            .clientLogo {
                text-align: center;

                img {
                    width: 150px;
                    aspect-ratio: 10/4;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .advertise {
        .sectionTitle {
            font-size: 1.6rem !important;
            margin-bottom: 5px;
            letter-spacing: 0.1px;
            margin-top: 10px !important;

            &:first-child {
                margin-top: 0;
            }
        }

        p {
            margin-top: 15px !important;
            font-size: 15px !important;
        }

        ul {
            li {
                font-size: 15px;
            }
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .advertiseContent {
        font-size: 2rem !important;

        p {
            margin: 30px 0 !important;
        }

        .detailCardContent {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr !important;

            .detailCard {
                max-width: 550px !important;
            }
        }

        table {

            th,
            td {
                font-size: 2rem;
                text-align: left;

                &:last-child {
                    text-align: end;
                }
            }
        }

        .clientContent {
            .contentTitle {
                font-size: 3rem !important;
            }
        }
    }
}