.advertize {
    padding-top: 20px;

    .advertizeContent {
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;

        .sectionTitle {
            text-align: left;
            font-size: 2.5rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        table {
            th {
                text-align: center;
                text-wrap: nowrap;
                text-transform: uppercase;
                color: var(--secondary-400);
            }

            td {
                text-wrap: nowrap;
                text-transform: uppercase;
                color: var(--secondary-400);
            }

            .price {
                text-align: end;
                color: var(--primary-color);
            }
        }

        .notes {
            display: block;
            text-align: end;
            color: #d93e3e;
            font-style: italic;
        }
    }
}