.articles {
    padding-top: 20px;

    .articlesContent {
        text-align: justify;
        font-family: 'Alice', serif;
        font-weight: 600;
        letter-spacing: 0.8px;

        .sectionTitle {
            text-align: left;
            font-size: 2.5rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .authorName {
            font-size: 1rem;
            font-family: 'Alice', serif;
            font-weight: 600;
            text-align: center;
            letter-spacing: 0.8px;
            margin: 10px 0;
            color: var(--secondary-400);
        }

        .magazineContent {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--primary-color);
                margin: 0;
            }

            hr {
                margin: 0;
                margin-bottom: 10px;
            }

            p {
                font-family: 'Alice', serif;
                letter-spacing: 0.8px;
                font-size: 1rem;

            }

            ol {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;

                    p {
                        color: var(--primary-dark);
                        margin: 0;
                    }

                    ul {
                        p {
                            color: var(--black-color);
                        }
                    }
                }
            }
        }

        .magazineName {
            font-size: 1.5rem;
            font-family: 'Alice', serif;
            letter-spacing: 0.8px;
            font-weight: 600;
            text-align: center;
            color: var(--primary-dark);
        }

        .magazine {
            display: flex;

            .magazineCard {
                cursor: pointer;
                display: block;
                width: 300px;
                height: 400px;
                background: #002e33;
                background: linear-gradient(45deg, #002e33 0%, var(--primary-dark) 50%, var(--primary-color) 100%);
                margin-top: 50px;
                box-shadow: 0 0 15px 1px #000;
                overflow: hidden;
                transition: 0.5s;

                .magazineImg {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 360px;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    transform: translateY(-10px);

                    img {
                        transform: scale(1.03);
                    }
                }

                .cardTitle {
                    padding: 5px 10px;
                    text-align: center;
                    color: var(--white-color);
                    // z-index: 20 !important;
                    font-weight: 600;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .articles {
        .sectionTitle {
            font-size: 1.6rem !important;
            margin-bottom: 5px;
            letter-spacing: 0.1px;
        }

        .articlesContent {
            table {
                tbody {
                    td {
                        font-size: 15px;
                    }
                }
            }

            .magazineName {
                font-size: 20px !important;
            }

            .authorName {
                margin: 5px 0;
                font-size: 13px;
            }
        }
    }
}