.breadcrumbContent {
    padding: 60px;
    padding-bottom: 0;

    .breadcrumb {
        display: flex;
        flex-wrap: nowrap;
        justify-content: end !important;

        .breadcrumbItem {
            a {
                display: flex;
                flex-wrap: nowrap;
                font-family: 'Alice', serif;
                text-decoration: none !important;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: var(--primary-color);

                &:hover {
                    color: var(--primary-dark);
                }

                &::after {
                    content: '/';
                    margin: 0 3px;
                    color: var(--black-color);
                }
            }

        }

        .currentPage {
            font-family: 'Alice', serif;
            color: var(--secondary-400);
            font-weight: 600;
            letter-spacing: 0.8px;
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .breadcrumbContent {
        margin-top: 6rem !important;
        padding: 40px;

        .breadcrumbItem,
        .currentPage {
            font-size: 1.8rem !important;
        }
    }
}

@media (max-width: 576px) {
    .breadcrumbContent {
        padding: 20px !important;
        margin-top: 4.2rem !important;
        padding-bottom: 0;
    }
}