/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: var(--white-color);
    font-size: 14px;
    background: #111;

    .footer_top {
        padding: 60px 0 30px 0;
        background: #1e1e1e;

        h4 {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
            font-family: 'Alice', serif;
        }

        .footerContent {
            display: flex;
            justify-content: space-between;

            .footer_contact {
                margin-bottom: 30px;
                width: 50%;

                h3 {
                    a {
                        font-size: 2rem;
                        font-family: 'Alice', serif;
                        margin: 0 0 10px 0;
                        padding: 2px 0 2px 0;
                        line-height: 1;
                        font-weight: 500;
                        letter-spacing: 1px;
                        color: var(--primary-color);
                        text-decoration: none;

                        span {
                            font-weight: 500;
                            font-family: 'Alice', serif;
                            color: whitesmoke;
                        }
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                    color: rgba(255, 255, 255, 0.7);
                    font-family: 'Alice', serif;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                }

                span {
                    a {
                        color: gray;
                        font-family: 'Alice', serif;
                        font-weight: 500;
                        text-decoration: none;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }

            .footerLinksContent {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .footer_links {
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        i {
                            padding-right: 2px;
                            color: var(--primary-color);
                            font-size: 18px;
                            line-height: 1;
                        }

                        a {
                            color: rgba(255, 255, 255, 0.6);
                            transition: 0.3s;
                            display: inline-block;
                            line-height: 1;
                            text-decoration: none;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            font-family: 'Alice', serif;

                            &:hover {
                                text-decoration: none;
                                color: var(--primary-color);
                            }
                        }

                        li {
                            padding: 3px 0;
                            display: flex;
                            align-items: center;

                            &:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }

    }
}

.footer .footer_newsletter {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

.footer {
    .copyright {
        font-family: 'Alice', serif;
        font-weight: 500;
        letter-spacing: 0.8px;

        strong {
            font-family: 'Alice', serif;
            font-weight: 500;
        }
    }
}

.footer .credits {
    font-family: 'Alice', serif;
    letter-spacing: 0.8px;

    a {
        padding-top: 5px;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 500;
        transition: 0.3s;

        &:hover {
            color: var(--white-color);
        }
    }
}

.footer .social_links a {
    font-size: 22px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    transition: 0.3s;
    text-decoration: none;
}

.footer .social_links .github:hover {
    background: #666666;
    color: #fff;
    text-decoration: none;
}

.footer .social_links .facebook:hover {
    background: #0055ff;
    color: #fff;
    text-decoration: none;
}

.footer .social_links .instagram:hover {
    background-color: #d7660f;
    color: #fff;
    text-decoration: none;
}


@media (max-width: 576px) {
    .footer .footer_top {
        padding: 40px 0px 10px 10px;
        background: #1e1e1e;
    }

    .footer {
        .footer_top {
            .footerContent {
                display: flex;
                flex-direction: column;

                .footer_contact {
                    margin-bottom: 30px;
                    width: 100vw !important;

                    h3 {
                        a {
                            font-size: 2rem !important;
                        }
                    }
                }

                .footerLinksContent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }
        }

        .copyright,
        .credits {
            font-size: 12px;
        }
    }


    .footer .social_links a {
        font-size: 17px;
        padding: 6px 0;
        width: 34px;
        margin-right: 5px;
    }

    .footer .social_links a:hover {
        background: #0055ff;
        color: #fff;
        text-decoration: none;
    }

}