/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Times New Roman', Times, serif;
  color: #4d4643;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.60rem;
  background-color: var(--primary-dark);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border-radius: 0.5rem;
}

a {
  color: var(--black-color);
}

a:hover {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #4ab3bc;
  --primary-light: #b4eef3;
  --primary-dark: #227e89;
  --white-color: #fff;
  --black-color: #000;
  --secondary-100: #d9d9d9;
  --secondary-200: #c0c0c0;
  --secondary-400: #8e8e8e;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 60px;
  box-sizing: border-box;

  .sectionTitle {
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--primary-dark);

    &::before {
      content: attr(data-heading);
      display: block;
      position: relative;
      top: 5px;
      font-size: 1.2rem;
      font-weight: 800 !important;
      color: var(--black-color);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }
}