.magazine {
    margin: 0 auto;
    max-width: 300px;

    .magazineCard {
        display: block;
        width: 300px;
        height: 400px;
        background: #002e33;
        background: linear-gradient(45deg, #002e33 0%, var(--primary-dark) 50%, var(--primary-color) 100%);
        margin-top: 50px;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;

        .magazineImg {
            overflow: hidden;

            img {
                width: 100%;
                height: 360px;
                transition: 0.5s;
            }
        }

        .cardTitle {
            padding: 5px 10px;
            text-align: center;
            color: var(--white-color);
            // z-index: 20 !important;
            font-weight: 600;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .prevBtn {
        svg {
            background: var(--primary-dark) !important;
            border-radius: 50%;
            padding: 10px;
            font-size: 2.5rem;
            position: absolute;
            left: -50px;
        }
    }

    .nextBtn {
        svg {
            background: var(--primary-dark) !important;
            border-radius: 50%;
            padding: 10px;
            font-size: 2.5rem;
            position: absolute;
            right: -50px;
        }
    }
}

@media (max-width: 576px) {
    .magazine {
        max-width: 300px;

        .prevBtn {
            svg {
                left: -15px !important;
            }
        }

        .nextBtn {
            svg {
                right: -15px !important;
            }
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .magazine {
        max-width: 500px;

        .carousel {
            width: 500px !important;
        }

        .magazineCard {
            width: 500px !important;
            height: 650px;

            .magazineImg {
                img {
                    height: 580px !important;
                }
            }

            .cardTitle {
                font-size: 2.2rem;
            }
        }
    }
}